
                

          <p id="notice"><%= notice %></p>

          <h1>Listado de administradores</h1>

          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th class="color-blanco-botones-tabla" colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @administrador.each do |administrador| %>
                <tr>
                  <td class="padding_table"><%= administrador.nombre %></td>
                  <td class="padding_table"><%= administrador.email %></td>

                  <td class="color-blanco-botones-tabla">

                      <button  class = 'imagen_ver'></button>
                    
                  </td>
                  <td class="color-blanco-botones-tabla" >

                      <button class = 'imagen_editar'></button>


                  </td>
                  <td class="color-blanco-botones-tabla">

                   
                       <button class = 'imagen_eliminar'></button>
                       
                      
              
                     <%= link_to 'Destroy', { :action => :destroy, :id => administrador.id }, :method => :delete, :data => { :confirm => 'Esta seguro de elimiarlo de los rgistros?' } %>

                  </td>

                </tr>
              <% end %>
            </tbody>
          </table>
